/*-- Common Css --*/
html {
  height: 100%;
}
body {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #333;
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
}
h2 {
  font-size: 30px;
  font-weight: 400;
}
h3 {
  font-size: 28px;
  font-weight: 300;
}
p {
  font-size: 15px;
  line-height: 28px;
}
a {
  text-decoration: none;
  color: #428bca;
  &:hover,
  &:focus {
    color: #2a6496;
  }
  &:active,
  &:focus {
    text-decoration: none;
  }
}
.italic {
  font-style: italic;
}
.bold {
  font-weight: bold;
}
.left {
  float: left;
}
.right {
  float: right;
}
.clearfix {
  zoom: 1;
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
    visibility: hidden;
    font-size: 0;
    height: 0;
  }
}
.pos-rel {
  position: relative;
}
.pos-abs {
  position: absolute;
}
