/**
 * 大屏幕
 * min-width 1600px;
 */
 @media only screen and (min-width: 1600px) {
  .g-ctn {
    display: block;
    width: auto;
    margin: 0 100px;
  }
  .container {
    width: 1420px;
    margin: 0 auto;
  }
  .home-wish {
    .wish-list {
      .wish-item {
        max-width: 300px;
      }
    }
  }
  .about {
    .glide-self {
      width: 65%;
    }
  }
}

/**
 * 电脑
 * min-width: 992px;
 * max-width: 1599px;
 */
@media only screen and (min-width: 992px) and (max-width: 1599px) {
  .g-ctn {
    display: block;
    width: auto;
    margin: 0 50px;
  }
  .container {
    width: 1020px;
    margin: 0 auto;
  }
}

/**
 * 平板
 * min-width: 768px;
 * max-width: 991px;
 */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .g-ctn {
    display: block;
    width: auto;
    margin: 0 30px;
  }
  .container {
    width: auto;
    margin: 0 80px;
  }
  header {
    .nav {
      li {
        &.active {
          a {
            &:before {
              right: 15px;
            }
          }
        }
      }
      a {
        padding: 0 15px;
        &:before {
          left: 15px;
        }
      }
    }
  }
  .global-header {
    margin-top: -80px;
    padding-top: 145px;
    background-size: contain;
    h1 {
      font-size: 34px;
    }
  }
  .home-header {
    margin-top: -80px;
    box-sizing: border-box;
    padding: 120px 0 90px 0;
    background-size: contain;
    .inner {
      margin-left: 10%;
    }
    h1 {
      font-size: 36px;
    }
  }

  /*-- 首页相关 --*/
  .home-sec {
    .section-title {
      line-height: 1.5;
      margin-bottom: 20px;
      h2 {
        font-size: 24px;
        font-weight: 600;
      }
      p {
        font-size: 16px;
      }
    }
    p {
      font-size: 14px;
      line-height: 1.5;
    }
  }
  .home-who {
    .bkg-right {
      padding: 50px 180px 50px 0;
      background: url(../img/home1.png) no-repeat;
      background-size: 213px 189px;
      background-position: 410px 70px;
      height: 240px;
      margin: 0;
    }
  }
  .home-what {
    .bkg-full {
      padding: 70px 0 50px;
      background: url(../img/home2.jpg) no-repeat;
      background-attachment: scroll; // 平板和手机就不 fixed 了
      background-position: 30% 80%;
      background-size: auto 400px;
    }
  }
  .home-wish {
    padding: 60px 0 50px;
    .inner {
      width: 680px;
      margin: 0 auto;
    }
    .section-title {
      width: 80%;
      margin: 0 auto;
    }
    .wish-list {
      margin-top: 40px;
      margin-right: -20px;
      padding: 0;
      .wish-item {
        margin-right: 20px;
        padding: 40px 0 0;
        width: 155px;
        height: 155px;
        border-radius: 50%;
        border-top: 1px solid #efefef;
        box-shadow: 0px 10px 20px rgba(55,66,77,0.2);
        .text {
          display: none;
        }
        .icon {
          font-size: 40px;
        }
      }
    }
  }

  /*-- 工作经验 --*/
  .experience-index {
    .companys {
      ul {
        margin-right: -28px;
      }
      li {
        // 容器宽是608px;
        width: 290px;
        margin-right: 28px;
      }
    }
  }
  .post-index {
    .post-area {
      padding: 40px 0;
      a {
        &:link {
          font-size: 26px;
        }
      }
    }
  }
  .post,
  .experience {
    h1 {
      font-size: 32px;
    }
    h2 {
      font-size: 28px;
    }
    h3 {
      font-size: 24px;
    }
    .back {
      padding: 20px;
      margin-top: 30px;
    }
  }

  /*-- 关于 --*/
  .about {
    .basic,
    .carousel {
      width: 100%;
      float: none;
    }
    .inner {
      padding-top: 60px;
    }
    .block {
      width: 88%;
      margin: 0 auto;
      h2 {
        font-size: 26px;
      }
    }
    .glide-self {
      margin-top: 60px;
    }
  }
}

/**
 * 手机
 * max-width: 767px;
 */
@media only screen and (max-width: 767px) {
  h2 {
    font-size: 18px;
  }
  p {
    font-size: 13px;
  }
  .g-ctn {
    display: block;
    width: auto;
    margin: 0 15px;
  }
  .container {
    width: auto;
    margin: 0 40px;
  }
  /*-- header --*/
  .white {
    header {
      .mobile-nav {
        .fa-bars {
          color: #666;
        }
      }
      .nav {
        background: rgba(255, 255, 255, .9);
        border-color: #efefef;
        &:before {
          border-color: transparent transparent #efefef transparent;
        }
        &:after {
          content: '';
          position: absolute;
          top: -14px;
          right: 12px;
          z-index: 11;
          border-width: 8px;
          border-style: solid;
          border-color: transparent transparent #fefefe transparent;
        }
        li {
          a {
            color: #454545;
          }
        }
      }
    }
  }
  header {
    .mobile-nav {
      display: block;
      position: absolute;
      right: 15px;
      top: 20px;
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 4px;
      .fa-bars {
        // color: #888;
        color: rgba(255,255,255,0.8);
        width: 20px;
        text-align: center;
      }
    }
    .logo {
      font-size: 20px;
    }
    .nav {
      float: none;
      position: absolute;
      z-index: 10;
      right: 15px;
      top: 70px;
      padding: 10px 0;
      border: 1px solid #666;
      border-radius: 5px;
      background: rgba(50, 46, 64, 0.8);
      display: none;
      &.show {
        display: block;
        animation-duration: 0.2s;
      }
      &::before {
        content: '';
        position: absolute;
        top: -15px;
        right: 12px;
        z-index: 11;
        border-width: 8px;
        border-style: solid;
        border-color: transparent transparent #413d4d transparent;
      }
      li {
        float: none;
        display: block;
        a {
          height: 32px;
          line-height: 32px;
          color: #aaa;
          &::before {
            bottom: 2px;
          }
        }
      }
    }
  }
  .global-header {
    margin-top: -80px;
    padding: 90px 0 40px;
    background-size: contain;
    h1 {
      font-size: 28px;
      padding-bottom: 8px;
    }
    p {
      font-size: 14px;
    }
    .other {
      display: none;
    }
    .mobile {
      display: block;
      letter-spacing: 3px;
    }
  }
  .home-header {
    margin-top: -80px;
    box-sizing: border-box;
    padding: 80px 0 30px 0;
    background-size: contain;
    .inner {
      margin-left: 0;
    }
    h1 {
      font-size: 26px;
      letter-spacing: 2px;
      line-height: 30px;
    }
    p {
      font-size: 13px;
    }
  }

  /*-- 首页相关 --*/
  .home-sec {
    .section-title {
      line-height: 1.5;
      margin-bottom: 12px;
      h2 {
        font-size: 18px;
        font-weight: 600;
      }
      p {
        font-size: 14px;
      }
    }
    p {
      font-size: 14px;
      line-height: 1.5;
      margin: 8px 0 8px;
    }
  }
  .home-who {
    .bkg-right {
      padding: 30px 0 20px 0;
      background: url(../img/home1.png) no-repeat;
      background-size: 100px auto;
      background-position: top right;
      height: 240px;
      margin: 0;
    }
  }
  .home-what {
    .container {
      margin-right: 20px;
    }
    .bkg-full {
      padding: 30px 0 20px;
      background: url(../img/home2.jpg) no-repeat;
      background-attachment: scroll; // 平板和手机就不 fixed 了
      background-position: left center;
      background-size: auto 150px;
    }
    .inner {
      padding-left: 38%;
    }
  }
  .home-wish {
    padding: 30px 0 20px;
    .inner {
      width: 100%;
    }
    .section-title {
      width: 80%;
      margin: 0 auto;
    }
    .wish-list {
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: space-between;
      .wish-item {
        margin-top: 20px;
        padding: 20px 0 0;
        margin-right: 0;
        .title {
          padding-top: 10px;
        }
        .text {
          display: none;
        }
        .icon {
          font-size: 32px;
        }
      }
    }
  }

  /*-- 工作经验 --*/
  .experience-index {
    padding: 0;
    .menu {
      padding-left: 0px;
      text-align: center;
      margin-top: 20px;
      ul {
        margin-bottom: 20px;
        li {
          padding: 0 8px;
        }
      }
    }
    .companys {
      ul {
        margin-right: -15px;
      }
      li {
        width: 48%;
        margin: 0;
        .img-heading {
          padding: 5px 0 5px 13px;
          h2 {
            font-size: 20px;
            line-height: 25px;
          }
          p {
            font-size: 11px;
            line-height: 20px;
          }
        }
        .overlay {
          padding-left: 15px;
          h2 {
            padding-top: 65px;
            padding-bottom: 15px;
            font-size: 20px;
            line-height: 25px;
          }
          p {
            font-size: 11px;
            line-height: 20px;
            padding-top: 15px;
            padding-right: 5px;
          }
        }
      }
    }
  }
  .post-index {
    .post-area {
      padding: 40px 0;
      a {
        &:link {
          font-size: 22px;
        }
      }
    }
  }
  .post,
  .experience {
    padding-top: 20px;
    h1 {
      font-size: 28px;
    }
    h2 {
      font-size: 24px;
    }
    h3 {
      font-size: 20px;
    }
    p {
      padding: 0;
    }
    .back {
      padding: 10px;
      margin-top: 20px;
    }
  }

  /*-- About --*/
  .about {
    .inner {
      padding: 20px 0;
      .basic,
      .carousel {
        width: 100%;
        float: none;
        padding: 0;
      }
    }
    .block {
      width: 100%;
      h2 {
        padding-bottom: 10px;
        font-size: 22px;
      }
      h4 {
        margin-top: 30px;
        padding-bottom: 20px;
        font-size: 20px;
      }
      .basic-info {
        li {
          white-space: nowrap;
        }
      }
    }
    .glide-self {
      margin-top: 50px;
      height: 435px;
      padding: 15px;
      width: 100%;
      box-sizing: border-box;
      img {
        height: 300px;
        padding-bottom: 15px
      }
    }
  }
}

/*	Wide Mobile Layout: 480px.
    Gutters: 24px.
    Outer margins: 22px.
    Inherits styles from: Default Layout, Mobile Layout.
------------------------------------------------------------
cols    1     2      3      4      5
px      68    160    252    344    436    */
/*	Retina media query.
  Overrides styles for devices with a
  device-pixel-ratio of 2+, such as iPhone 4.
-----------------------------------------------    */
@media only screen and (max-width: 320px) {
  .home-header {
    h1 {
      letter-spacing: 2px;
    }
  }
  .home-what {
    .inner {
      padding-left: 32%;
    }
  }
  .about {
    .container {
      margin: 0 10px;
      .inner {
        padding-top: 8px;
      }
      h2 {
        font-size: 22px;
      }
      h4 {
        font-size: 18px;
      }
      .fa {
        margin-right: 5px;
      }
    }
  }
}
