/**
 * 电脑
 */
@media only screen and (min-width: 992px) {
  header {
    .container {
      width: auto;
      margin-left: 50px;
      margin-right: 40px;
    }
  }
  #home-header {
    box-sizing: border-box;
    height: calc(100vh - 60px);
  }
  .post,
  .experience {
    .back {
      text-align: center;
      padding: 30px;
      margin: 0;
    }
  }
}


/*	平板
    Default Layout: 991px.
    Gutters: 24px.
    Outer margins: 48px.
    Leftover space for scrollbars @1024px: 32px.
-------------------------------------------------------------------------------
cols    1     2      3      4      5      6      7      8      9      10
px      68    160    252    344    436    528    620    712    804    896    */
/*		Tablet Layout: 768px.
    Gutters: 24px.
    Outer margins: 28px.
    Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  /*-- footer --*/
  footer {
    .navbar {
      margin-bottom: 0px;
      border: 0px;
      min-height: 40px;
    }
    .navbar-default {
      border: 0px;
      width: 68%;
      .navbar-nav {
        li {
          a {
            color: #494949;
            padding: 10px 10px;
            font-size: 15px;
            &:hover {
              color: #000;
            }
          }
        }
      }
    }
  }

  /*-- Experience --*/
  #experience {
    .menu {
      padding-left: 0px;
    }
    .companys {
      ul {
        margin-right: -30px;
      }
      li {
        // 容器的width是 720px;
        width: 220px;
        margin: 10px 0;
        margin-right: 30px;
        .img-heading {
          padding: 5px 0 5px 13px;
          h2 {
            font-size: 20px;
            line-height: 25px;
          }
          p {
            font-size: 11px;
            line-height: 20px;
          }
        }
        .overlay {
          padding-left: 15px;
          h2 {
            padding-top: 30px;
            padding-bottom: 15px;
            font-size: 20px;
            line-height: 25px;
          }
          p {
            font-size: 11px;
            line-height: 20px;
            padding-top: 15px;
          }
        }
      }
    }
  }

  /*-- About --*/
  #about {
    .block {
      width: 88%;
      margin: 0 auto;
    }
    .carousel {
      margin-top: 50px;
    }
  }

  #intro {
    .container {
      padding: 0 50px;
    }
  }

  .post,
  .experience {
    .back {
      text-align: center;
      padding: 20px;
      margin: 0;
    }
  }

}


/*	手机
    Mobile Layout: 320px.
    Gutters: 24px.
    Outer margins: 34px.
    Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3
px      68    160    252    */
@media only screen and (max-width: 767px) {
  h2 {
    font-size: 18px;
  }
  p {
    font-size: 13px;
  }

  /*-- header --*/
  header {
    padding: 0;
    .navbar-header {
      margin-left: 0;
    }
    .navbar-brand {
      padding: 0;
      margin-top: 11px;
      margin-bottom: 11px;
    }
    .navbar-default {
      .navbar-toggle {
        margin-top: 20px;
        margin-bottom: 20px;
      }
    }
  }

  /*-- 首页大头图 --*/
  #home-header {
    padding-top: 90px;
    padding-bottom: 100px;
    .block {
      padding-left: 0px;
      h1 {
        font-size: 20px;
      }
      p {
        font-size: 13px;
      }
    }
  }

  /*-- 非首页头图 --*/
  #global-header {
    padding: 50px 0;
    .block {
      padding-left: 0;
      h1 {
        font-size: 28px;
      }
    }
  }

  /*-- Experience --*/
  #experience {
    padding: 0;
    .menu {
      padding-left: 0px;
      text-align: center;
      /* 移动端不显示 filter, mixItUp 不支持移动端 */
      display: none;
      li {
        padding: 0 8px;
      }
    }
    .companys {
      ul {
        margin-right: -15px;
      }
      li {
        /* 移动端先显示两个吧,容器宽是 345px; */
        width: 165px;
        margin: 10px 0;
        margin-right: 15px;
        .img-heading {
          padding: 5px 0 5px 13px;
          h2 {
            font-size: 20px;
            line-height: 25px;
          }
          p {
            font-size: 11px;
            line-height: 20px;
          }
        }
        .overlay {
          padding-left: 15px;
          h2 {
            padding-top: 65px;
            padding-bottom: 15px;
            font-size: 20px;
            line-height: 25px;
          }
          p {
            font-size: 11px;
            line-height: 20px;
            padding-top: 15px;
            padding-right: 5px;
          }
        }
      }
    }
  }

  /*-- About --*/
  #about {
    .block {
      width: 88%;
      margin: 0 auto;
    }
    .carousel {
      margin-top: 50px;
    }
  }

  #intro {
    padding-top: 0;
    .container {
      padding-left: 40px;
      padding-right: 40px;
    }
  }

  .post,
  .experience {
    .back {
      text-align: center;
      padding: 10px;
      margin: 0;
    }
  }

  /*--service Start--*/
  #service {
    padding-top: 100px;
    .thumbnail {
      padding-bottom: 70px;
    }
  }

  /*--call-to-action Start--*/
  #call-to-action {
    p {
      padding: 0px 0px 40px;
    }
    .btn {
      padding: 10px 20px;
      font-size: 15px;
    }
  }
}
/*	Wide Mobile Layout: 480px.
    Gutters: 24px.
    Outer margins: 22px.
    Inherits styles from: Default Layout, Mobile Layout.
------------------------------------------------------------
cols    1     2      3      4      5
px      68    160    252    344    436    */
/*	Retina media query.
  Overrides styles for devices with a
  device-pixel-ratio of 2+, such as iPhone 4.
-----------------------------------------------    */
