/**
 * 大屏幕
 * min-width 1600px;
 */
 @media only screen and (min-width: 1600px) {
  .g-ctn {
    display: block;
    width: auto;
    margin: 0 100px;
  }
  .container {
    width: 1020px;
    margin: 0 auto;
  }
}

/**
 * 电脑
 * min-width: 992px;
 * max-width: 1599px;
 */
@media only screen and (min-width: 992px) and (max-width: 1599px) {
  .g-ctn {
    display: block;
    width: auto;
    margin: 0 50px;
  }
  .container {
    width: 1020px;
    margin: 0 auto;
  }
  // header {
  //   background: transparent;
  //   position: relative;
  //   z-index: 1;
  //   padding: 10px 0;
  //   .container {
  //     width: auto;
  //     margin-left: 50px;
  //     margin-right: 40px;
  //   }
  // }
  // .global-header {
  //   margin-top: -80px;
  //   padding-top: 145px;
  // }
  // .home-header {
  //   margin-top: -80px;
  //   box-sizing: border-box;
  //   height: 100vh;
  //   padding-top: 200px;
  // }
  // .post,
  // .experience {
  //   .back {
  //     text-align: center;
  //     padding: 30px;
  //     margin: 0;
  //   }
  // }
}

/**
 * 平板
 * min-width: 768px;
 * max-width: 991px;
 */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .g-ctn {
    display: block;
    width: auto;
    margin: 0 30px;
  }
  .container {
    // width: 680px;
    // margin: 0 auto;
    width: auto;
    margin: 0 80px;
  }
  header {
    .nav {
      li {
        &.active {
          a {
            &:before {
              right: 15px;
            }
          }
        }
      }
      a {
        padding: 0 15px;
        &:before {
          left: 15px;
        }
      }
    }
  }
  .global-header {
    margin-top: -80px;
    padding-top: 145px;
    background-size: contain;
  }
  .home-header {
    margin-top: -80px;
    box-sizing: border-box;
    padding: 120px 0 90px 0;
    background-size: contain;
    .inner {
      margin-left: 10%;
    }
    h1 {
      font-size: 32px;
    }
  }

  /*-- 首页相关 --*/
  .home-sec {
    .section-title {
      line-height: 1.5;
      margin-bottom: 20px;
      h2 {
        font-size: 24px;
        font-weight: 600;
      }
      p {
        font-size: 16px;
      }
    }
    p {
      font-size: 14px;
      line-height: 1.5;
    }
  }
  .home-who {
    .bkg-right {
      padding: 50px 180px 50px 0;
      background: url(../img/home1.png) no-repeat;
      background-size: 213px 189px;
      background-position: 410px 70px;
      height: 240px;
      margin: 0;
    }
  }
  .home-what {
    .bkg-full {
      padding: 70px 0 50px;
      background: url(../img/home2.jpg) no-repeat;
      background-attachment: scroll; // 平板和手机就不 fixed 了
      background-position: 30% 80%;
      background-size: auto 400px;
    }
  }
  .home-wish {
    padding: 60px 0 50px;
    .inner {
      width: 680px;
      margin: 0 auto;
    }
    .section-title {
      width: 80%;
      margin: 0 auto;
    }
    .wish-list {
      margin-top: 40px;
      margin-right: -20px;
      padding: 0;
      .wish-item {
        margin-right: 20px;
        padding: 40px 0 0;
        width: 155px;
        border: 1px solid #dbdbdb;
        border-radius: 50%;
        height: 155px;
        .text {
          display: none;
        }
        .icon {
          font-size: 40px;
        }
      }
    }
  }

  /*-- 工作经验 --*/
  .experience-index {
    .companys {
      ul {
        margin-right: -28px;
      }
      li {
        // 容器宽是608px;
        width: 290px;
        margin-right: 28px;
      }
    }
  }
  .post-index {
    .post-area {
      padding: 40px 0;
    }
  }
  .post,
  .experience {
    .back {
      padding: 20px;
      margin-top: 30px;
    }
  }


  /*-- 关于 --*/
  .about {
    .basic,
    .carousel {
      width: 100%;
      float: none;
    }
    .block {
      width: 88%;
      margin: 0 auto;
    }
    .glide-self {
      margin-top: 60px;
    }
  }
}

/*	手机
    Mobile Layout: 320px.
    Gutters: 24px.
    Outer margins: 34px.
    Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3
px      68    160    252    */
@media only screen and (max-width: 767px) {
  h2 {
    font-size: 18px;
  }
  p {
    font-size: 13px;
  }

  /*-- header --*/
  header {
    padding: 0;
    .navbar-header {
      margin-left: 0;
    }
    .navbar-brand {
      padding: 0;
      margin-top: 11px;
      margin-bottom: 11px;
    }
    .navbar-default {
      .navbar-toggle {
        margin-top: 20px;
        margin-bottom: 20px;
      }
    }
  }

  /*-- 首页大头图 --*/
  .home-header {
    padding-top: 90px;
    padding-bottom: 100px;
    .block {
      padding-left: 0px;
      h1 {
        font-size: 20px;
      }
      p {
        font-size: 13px;
      }
    }
  }

  /*-- 非首页头图 --*/
  .global-header {
    padding: 50px 0;
    .block {
      padding-left: 0;
      h1 {
        font-size: 28px;
      }
    }
  }

  /*-- Experience --*/
  #experience {
    padding: 0;
    .menu {
      padding-left: 0px;
      text-align: center;
      /* 移动端不显示 filter, mixItUp 不支持移动端 */
      display: none;
      li {
        padding: 0 8px;
      }
    }
    .companys {
      ul {
        margin-right: -15px;
      }
      li {
        /* 移动端先显示两个吧,容器宽是 345px; */
        width: 165px;
        margin: 10px 0;
        margin-right: 15px;
        .img-heading {
          padding: 5px 0 5px 13px;
          h2 {
            font-size: 20px;
            line-height: 25px;
          }
          p {
            font-size: 11px;
            line-height: 20px;
          }
        }
        .overlay {
          padding-left: 15px;
          h2 {
            padding-top: 65px;
            padding-bottom: 15px;
            font-size: 20px;
            line-height: 25px;
          }
          p {
            font-size: 11px;
            line-height: 20px;
            padding-top: 15px;
            padding-right: 5px;
          }
        }
      }
    }
  }

  /*-- About --*/
  #about {
    .block {
      width: 88%;
      margin: 0 auto;
    }
    .glide-self {
      margin-top: 50px;
    }
  }

  #intro {
    padding-top: 0;
    .container {
      padding-left: 40px;
      padding-right: 40px;
    }
  }

  .post,
  .experience {
    .back {
      text-align: center;
      padding: 10px;
      margin: 0;
    }
  }

}

/*	Wide Mobile Layout: 480px.
    Gutters: 24px.
    Outer margins: 22px.
    Inherits styles from: Default Layout, Mobile Layout.
------------------------------------------------------------
cols    1     2      3      4      5
px      68    160    252    344    436    */
/*	Retina media query.
  Overrides styles for devices with a
  device-pixel-ratio of 2+, such as iPhone 4.
-----------------------------------------------    */
