---
layout: default
permalink: /
---

<section class="home-header">
  <div class="g-ctn">
    <div class="inner">
      <h1 class="animated fadeInUp">Yesterday is history, </h1>
      <h1 class="animated fadeInUp">Tomorrow is a mystery, </h1>
      <h1 class="animated fadeInUp">but Today is a gift.</h1>
    </div>
  </div>
</section>

<section class="home-who home-sec">
  <div class="container">
    <div class="bkg-right">
      <div class="section-title">
        <h2>Who - 这是谁？</h2>
        <p>“A girl has no name” —— from Arya Stark &lt;Game of Throne&gt;</p>
      </div>
      <div>
        <p>1989年出生于重庆的山城女孩</p>
        <p>2008-2015年于中国人民大学信息学院攻读学士&amp;硕士学位</p>
        <p>2014年6月初次接触 WEB 前端开发</p>
        <p>经历过 jQuery、React、React Native、微信小程序等不同“前端时代“</p>
      </div>
    </div>
  </div>
</section>

<section class="home-what home-sec">
  <div class="bkg-full">
    <div class="container">
      <div class="inner">
        <div class="section-title">
          <h2>What - 做什么？</h2>
          <p>不忘初心、无问西东</p>
        </div>
        <div>
          <p>对社会，做有品性的人</p>
          <p>对生活，做敢憧憬的蜗牛</p>
          <p>对工作，做程序猿、女汉子</p>
          <p>对父母，做孩子也做大人</p>
          <p>对自己，做理想的梦中情人</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="home-wish home-sec">
  <div class="container">
    <div class="section-title">
      <h2>Wish - 个人愿景!</h2>
      <p>世界和平从来不是我的梦想，伟大的梦想留给伟大的人去实现，我只愿做那只一步一步往前爬的蜗牛.</p>
    </div>
    {% if site.data.wish.size > 0 %}
    <ul class="wish-list clearfix">
      {% for w in site.data.wish %}
      <li class="wish-item">
        <i class="icon fa {{w.icon}}"></i>
        <p class="title">{{w.title}}</p>
        <p class="text">{{w.text}}</p>
      </li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
</section>
